.row-one,
.row-two,
.row-three {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;

}
    .row-two {
        background-color: rgb(154, 179, 146);
    }

    .container-padding {
        margin: 12px;
        border: 1px solid ;
    }
    .main-container {
        display: grid;
        height: 100%;
        grid-template-rows: 2fr 12fr 2fr;
    
    }
    .pull-right {
        float: right;
    }



